#hr {
    width: 50%;
}

.rounded-circle{
    border:1px;
    border-radius:50%;
    width: 200px;;
    height:200px;
    }

.bi {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}